@charset "utf-8";
/* CSS Document */
body {
	font-size:12px;
	color:#666;
	margin:0;
}
form {
	margin:0;
}
#container {
	width:778px;
	height:auto;
	margin:0 auto;
}
img {
	border:0
}
ul {
	margin:0;
	padding:0;
	list-style:none
}
p {
	margin:0;
	padding:0;
}
a {
	fon-size:12px;
	color:#666666;
	text-decoration:none
}
a:visited {
	color:#666666;
	text-decoration:none
}
a:hover {
	color:#FF6600;
	text-decoration:underline;
}
#top {
	background:#444 url(images/top.jpg) no-repeat top left;
	width:778px;
	height:70px;
}
#nav {
	background:url(images/menu_bg.gif) repeat-x;
	height:21px;
	width:778px;
}
#nav {
	padding-top:5px;
	text-align:left;
}
#nav li {
	float:left;
	margin-left:12px;
}
#nav .fm {
	float:right;
}
#nav .it {
	height:16px;
	border:#CCCCCC solid 1px;
	margin:0px;
	padding:0px;
}
#flash {

}
#left {
	float:left;
	width:576px;
}
#right {
	float:right;
	width:200px;
	height:500px;
	background:#fofofo;
}
#site {
	width:578px;
	background:url(images/bg_place.gif) repeat-x center;
	text-align:left;
	line-height:30px;
	text-indent:10px;
}
#notice {
	text-align:left;
	text-indent:10px;
	margin-bottom:30px
}
.title-notice {
	height:40px;
	width:578px;
	background:url(images/notice.jpg) no-repeat left center;
}
#left ul {
	line-height:24px;
}
#report {
	text-align:left;
	text-indent:10px;
}
.title-report {
	height:40px;
	width:578px;
	background:url(images/report.jpg) no-repeat left center;
}
/*------------------------右侧部分-------------------*/
#enter {
	width:200px;
	height:120px;
	background:url(images/logon_bg.jpg) no-repeat;
	text-align:center;
	border-bottom:#d8d8d8 1px solid
}
#enter li {
	margin-top:10px;
}
#relation {
	text-align:left;
	text-indent:10px;
	border-left:#d8d8d8 1px solid;
	border-right:#d8d8d8 1px solid;
}
.title-relation {
	height:29px;
	width:198px;
	background:url(images/relation.jpg) no-repeat;
}
#relation li {
	border-bottom:#999999 solid 1px;
	line-height:29px;
	border-bottom:#d8d8d8 1px dashed;
	background-color: #f0f0f0;
}
#date {
	width:198px;
	height:110px;
	border-left:#d8d8d8 1px solid;
	border-right:#d8d8d8 1px solid;
	background-color: #f0f0f0;
	background-image: url(images/bobinv_tilet3.gif);
	background-repeat: no-repeat;
	background-position: 14px 16px;
	text-align:center;
}
#date ul {
	margin-top:35px;
}
#date li {
	line-height: 20px;
}
#link {
	width:198px;
	height:100px;
	background-color:#f0f0f0;
	background-image: url(images/bobinv_tilet4.gif);
	background-position: 14px 10px;
	background-repeat: no-repeat;
	border-left:#d8d8d8 1px solid;
	border-right:#d8d8d8 1px solid;
}
#link form {
	margin-top:40px;
}
#footer {
	clear:both;
	width:778px;
	height:60px;
	background:url(images/footer_bg_line.gif) repeat-x left top;
	padding-top:20px;
	text-align:center;
}
